.home {
  padding: 20px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  word-wrap: break-word;
  border: 1px solid grey;
  border-radius: 10px;
}

.topBar {
  display: flex;
  flex-direction: row;
  gap: 268px;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.topBarRight {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: flex-end;
}

.adaptivePerformanceHeader {
  display: flex;
}