.home {
  width: 100%;
  max-width: 100%;
  height: 739px;
  box-sizing: border-box;
  overflow-x: hidden;
  word-wrap: break-word;
  border: 1px solid transparent;
  border-radius: 10px;
  border-image: linear-gradient(180deg, rgba(1, 97, 223, 0.50) 0%, rgba(144, 89, 255, 0.50) 100%);
  border-image-slice: 2;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 268px; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
}

.topBarRight {
  display: flex;
  flex-direction: row;
  color: #808080;
  gap: 4px;
  align-items: center;
}

.adaptivePerformanceHeader {
  display: flex;
}

.APHeader {
   padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.SuggestedActions {
  padding-left: 16px;
  padding-right: 16px;
}

.MemoryandTabs {
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.HeaderandSuggested {
  display: flex;
  flex-direction: column;
  gap: 10px;
}