@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

.popUpBase {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  border-radius: 0;
  transition: background-color 0.2s ease;
  line-height: 0;
}

.popUpBase svg {
  display: block;
}

.popoverContent {
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  gap: 8px;
  font-size: 14px;
  background: #fff;
  padding: 16px;
  border-radius: 6px;
  border: 2px solid #ccc;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.title p {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 4px;
}

.levelHigh,
.levelMedium,
.levelLow {
  display: inline-block;
  margin: 0 0 12px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
}

.levelHigh {
  color: red;
}

.levelMedium {
  color: orange;
}

.levelLow {
  color: green;
}

.popoverContent ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.popoverContent li {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;
  color: #404040;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}

.contentHigh {
  border-color: #d2d2d2;
}

.contentMedium {
  border-color: #d2d2d2;
}

.contentLow {
  border-color: #d2d2d2;
}
