@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

/* reset */
button,
h3 {
	all: unset;
}

.AccordionRoot {
	/* border-radius: 6px; */
	border-color: red;
	width: 100%;
	/* background-color: purple; */
	/* background-color: linear-gradient(180deg, #0161DF 0%, #9059FF 100%); */
	/* background-color: blue; */
	/* box-shadow: 0 2px 10px black; */
}

.AccordionItem {
	overflow: hidden;
	margin-top: 1px;
	border-color: blue;
}

.AccordionItem:first-child {
	margin-top: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-color: green;
}

.AccordionItem:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.AccordionItem:focus-within {
	position: relative;
	z-index: 1;
}

.AccordionHeader {
	display: flex;
}

.AccordionTrigger {
	font-family: Inter, sans-serif;
	background-color: transparent;
	padding: 0 20px;
	height: 45px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 15px;
	font-weight: 500;
	line-height: 1;
	color: white;
	font-size: 12px;
	background: linear-gradient(180deg, #0161DF 0%, #9059FF 100%);
}

.AccordionTrigger:hover {
	background-color: purple;
}

.AccordionContent {
	overflow: hidden;
	background-color: white;
	border: 2px solid transparent;
	border-image: linear-gradient(180deg, rgba(1, 97, 223, 0.50) 0%, rgba(144, 89, 255, 0.50) 100%);
	border-image-slice: 1;
	padding: 16px;

}

.AccordionContent2 {
	border-top: 0px solid transparent;
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(180deg, rgba(1, 97, 223, 0.50) 0%, rgba(144, 89, 255, 0.50) 100%);
	border-image-slice: 1;
	padding: 16px;
}


.AccordionContent[data-state="open"] {
	animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state="closed"] {
	animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
	font-family: Inter;
	font-weight: 700;
	font-size: 12px;
	color: #808080;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	border: 2px solid black;
}


.AccordingContentTextClose {
	
	gap: 8px;
	border: 2px solid aqua;
}

.AccordionChevron {
	color: white;
	transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionTrigger[data-state="open"] > .AccordionChevron {
	transform: rotate(180deg);
}

.borderblue {
	border: 1px solid blue;
	font-size: 12px;
	font-weight: 700;
	font-family: Inter, sans-serif;
	color: #808080;
}

.CloseIcon {
	width: 24px !important;
	height: 24px !important;
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-accordion-content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--radix-accordion-content-height);
	}
	to {
		height: 0;
	}
}
